* {
  box-sizing: border-box;
}

:root {
  /* color */
  --primary-color: #171100;
  --secondary-color: #ffb900;

  /* Font */
  --font-heading: 'Sen', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  border-radius: 9999px;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  color: var(--primary-color);
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -1.16px;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 1);
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-color);
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: '';
  border-radius: 1px;
  background: var(--primary-color);
  width: 12px;
  height: 2px;
}

.header .action {
  margin-left: 49px;
}

.header .sign-up-btn {
  min-width: 144px;
}

/* Hero */
.hero {
  padding: 56px 0 65px 0;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero-desc {
  margin-top: 22px;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 28px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff9e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero .hero-cta {
  line-height: 64px;
  background: var(--secondary-color);
  min-width: 180px;
}

.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
  background: #fffcf4;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
}

/* Popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-desc {
  margin-top: 16px;
  width: 458px;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: transparent;
}

.popular-top .control-btn:hover {
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
  flex: 1;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  width: 326px;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .book-btn {
  border: none;
}

.popular .course-item .book-btn:hover {
  background: var(--secondary-color);
}
